<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.bdqn.datacockpit.mapper.XiaoshoushujuMapper" > 
   <!--  查询销售数据表的内容 -->
   <select id="selectXiaoShouBiao" parameterType="Map" resultType="cn.bdqn.datacockpit.entity.Xiaoshoushuju">
  SELECT* FROM `8xiaoshoushujubiao` WHERE shows=#{shows} AND times &gt;= #{begintime} AND times &lt;=#{endtime} order  by times ASC
   </select>
  
</mapper>